@charset "utf-8";
/* CSS Document */


body{
	text-align:center;
	font: 62.5%/1.6em Calibri, Arial, Helvetica, sans-serif;
	vertical-align:middle;
}

img{
	border:0;
	vertical-align:middle;
	margin-right:6em;
}

a.b2b{
	text-decoration:none;
	color:#34427d;
	font-size:7em;
	font-weight:bold;
}

a.go{	
	background-image:url(../img/go.png);
	background-repeat:no-repeat;
	background-position:left;
	float:right;
	font-size:3em;
	color:#34427d;
	padding-left:2.2em;
	padding-top:0.8em;
	height:1.4em;
}

#contenedor{
	margin:1em auto;
	width:90em;
	text-align:left;
	border:0.1em #CCC solid;
	border-radius: 20px;
	-moz-border-radius: 20px;
	overflow:hidden;
	padding:2em;
}

#titular{
	text-align:center;
	width:100%;
	float:left;
}

#entrar{
	float:left;
	width:100%;
	clear:both;
	margin-top:2em;
}

#logo{
	float:left;
	width:100%;
	clear:both;
}

h1{
	font-size:5em;
	line-height:1.5em;
}

span.reduce{
	font-size:75%;
}